/* Override MaterializeCSS */
.input-field input:focus+label {
    color: #2962ff !important
}

.input-field input:focus {
    border-bottom: 1px solid #2962ff !important;
    box-shadow: 0 1px 0 0 #2962ff !important
}

.input-field textarea:focus+label {
    color: #2962ff !important
}

.row .input-field textarea:focus {
    border-bottom: 1px solid #2962ff;
    box-shadow: 0 1px 0 0 #2962ff
}

.row .input-field textarea.invalid {
    border-bottom: 1px solid #f44336;
    box-shadow: 0 1px 0 0 #f44336
}

.blue-icon {
    color: #2962ff
}

.collection .collection-item.avatar {
    min-height: 0
}

.mb-0 {
    margin-bottom: 0 !important
}


/* Posts */
#post_owner {
    font-weight: bolder;
}

#post_likes {
    font-size: 24px;
    font-weight: bolder;
}
